ul {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
header {
    background-color: chocolate;
}